*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }

.mainChat{
    height: fit-content;
    width: fill;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo{
    color: rgb(76,109,252);
    font-size: 25px;
    margin: 30px;
}

.cliente{
    width: 100%;
    height: 2px;
    background-color: rgb(76,109,252);
}

.conversa{
    width: 100%;
    height: 56vh;
    overflow-y: auto;

}

.mensagem{
    padding: 30px;
    height: fit-content;
    max-width: 60%;
    margin: 3%;
}

.mensagemCliente{
    background-color: rgb(76,109,252);
    color: white;
}

.mensagemProfissional{
    background-color: rgb(207, 216, 255);
    color: rgb(76,109,252);
    margin-left: 45%;
}

// enviar mensagem

.enviarMensagem{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: fit-content;
    border: 2px solid rgb(76,109,252);
    background-color: rgb(207, 216, 255);
    align-items: center;
    justify-content: center;
}

.escreverMsg{
    margin: 20px;
    margin-right: 0;
    height: 60px;
    max-height: fit-content;
    width: 80%;
    padding: 10px;
    font-size: 27px;
    text-align: justify;
    border: 2px solid rgb(76,109,252);
}

.enviarmsg{
    width: 60px;
    height: 60px;
    margin: 20px;
    border-radius: 300px;
    background-color: rgb(76,109,252);
    color: white;
    border: 2px solid rgb(76,109,252);
    transition: 0.2s ease;
    &:hover{
        cursor: pointer;
        background-color: white;
        color: rgb(76,109,252);
    }
}

.encerrarConversa{
    width: fit-content;
    padding-left:10px ;
    padding-right:10px ;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 300px;
    background-color: rgb(76,109,252);
    color: white;
    border: 2px solid rgb(76,109,252);
    transition: 0.2s ease;
    &:hover{
        cursor: pointer;
        background-color: white;
        color: rgb(76,109,252);
    }
}