*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }

.mainPerfil{
    padding-top: 50px;
    min-height: 100vh;
    max-height: fit-content;
    width: fill;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#h1Perfil{
    color: rgb(76,109,252);
    font-size: 50px;
}

/* perfil */
.perfil {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    position: relative;
}
/* foto */
.fotoPerfil {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 430px;
    margin: 50px;
    margin-top: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto {
    width: 260px;
    height: 260px;
    border: 2px solid rgb(76,109,252);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.botaoMudarImagem{
    background-image: url(/mudar-foto.png);
    background-position: center;
    background-size: 300px;
    width: 260px;
    height: 260px;
    position: absolute;
    color: transparent;
    z-index: 3;

    &:hover{
        cursor: pointer;
    }
}

.nome_completoPerfil {
    width: 270px;
    height: 120px;
    padding-top: 25px;
    color: rgb(76,109,252);
    font-size: 25px;
    left: 0;
    margin: 0;
    text-align: center;
}

.btns{
    width: 270px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 370px;
}

.btnPerfil{
    color: rgb(76,109,252);
    background-color: white;
    border: 2px solid rgb(76,109,252);
    border-radius: 25px;
    transition: 0.2s ease;
    height: 60px;
    margin-top: 20px;
    width: fill;

    &:hover{
        cursor: pointer;
        color: white;
        background-color: rgb(76,109,252);
        border: 2px solid rgb(76,109,252);
    }
}

.deslogar{
    width: 20%;
}

/* informações da bike */

.infosPerfil {
    height: fit-content;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 70%;
}

.secaoPerfil {
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    width: fit-content;
}

.textoPerfil {
    border: 2px solid rgb(76,109,252);
    width: 100%;
    height: 60px;
    box-shadow: 0 0 10px 1px rgb(184, 184, 184);
    border-radius: 20px;
    padding-left: 20px;
    margin-bottom: 40px;
}

.maisPerfil {
    height: 70px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    width: 150px;
    padding: 15px;
    border-radius: 25px;
    background-color: white;
    color: rgb(76,109,252);
    border: 2px solid rgb(76,109,252);
    transition: 0.2s ease;

    &:hover {
        background-color: rgb(76,109,252);
        color: white;
        border: 2px solid rgb(76,109,252);
    }
}


/* ============ DESKTOP ============= */

@media (min-width: 1024px) and (max-width: 1200px) {
}

/* ============ TABLET ============= */

@media (min-width: 0px) and (max-width: 1023.99px) {

    .foto{
        width: 200px;
        height: 200px;
    }

    .botaoMudarImagem{
        width: 200px;
        height: 200px;
    }

    .perfil{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .btns{
        margin-top: -30px;
    }
}

/* ============ MOBILE ============= */

@media (min-width: 0px) and (max-width: 767.99px) {
    
}